<div class="container mx-auto">
  <div class="max-w-4xl mx-auto bg-white sm:py-12 lg:py-12">
    <h2 class="my-5 text-4xl font-bold tracking-tight text-center text-blue-800 sm:block">Short Ruby Videos</h2>
    <div class="relative mx-auto overflow-hidden">
      <%= image_tag "project.png", class: "object-cover object-top mx-auto", width: "600px" %>
    </div>
    <div class="px-6 mx-auto my-10 max-w-7xl lg:px-8">
      <div class="mx-auto text-3xl font-bold tracking-tight text-center text-gray-900 max-w-7xl sm:text-4xl">
        <p class="inline sm:block">Sign up to get updates when I launch.</p>
      </div>
      <%= form_with model: Subscriber.new, url: videos_subscribers_path, class: 'mx-auto mt-10 max-w-7xl' do |form| %>
        <div class="flex max-w-md mx-auto gap-x-4">
          <%= form.label :email, "Email address", class: 'sr-only' %>
          <%= form.email_field :email, autocomplete: "email", required: true, class: "text-lg min-w-0 flex-auto rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6", placeholder: "Enter your email" %>
          <%= form.submit "Subscribe", class: "flex-none rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
        </div>
        <div class="flex max-w-md mx-auto mt-5">
          <p class="mt-4 text-lg leading-6 text-gray-900">I care about your data. <br>
            Your email will only be used for updates about Short Ruby Video Podcasts</p>
        </div>
      <% end %>
    </div>
  </div>
</div>
